<h2>List of all movies</h1>

<table border="1">
<% @list_of_movies.each do |a_play| %>
  <tr>
    <td><%= a_play.id %></td>
    <td>
      <img src="https://robohash.org/png"<%= a_play.title %>>
      </td>
    <td><%= a_play.title %></td>
    
    <td><%= a_play.year %></td>
    <td><%=  %></td>
    
    <td>
      <a href="/movies/<%= a_play.id %>" >
      Show details
    </td>

  </tr>
  <% end %>
  </table>
