<h2>List of all actors</h1>

<table border="1">
<% @list_of_actors.each do |a_player| %>
  <tr>
    <td><%= a_player.id %></td>
    <td>
      <img src="https://robohash.org/png"<%= a_player.name %>>
      </td>
    <td><%= a_player.name %></td>
    <td><%= a_player.dob %></td>
    <td>
      <a href="/actors/<%= a_player.id %>" >
      Show details
    </td>

  </tr>
  <% end %>
  </table>
